/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	background: #E3F2FD;
}
.chatbot {
	position: fixed;
	right: 40px;
	bottom: 100px;
	width: 420px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.),
				0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
